/* Banner principal */
.principal{
    
}
.conteudoPrincipal{
    width: 500px;
}
.textoPrincipal{
    color: blue;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
.btnPrincipal{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #C86C2D;
    margin-top: 20px;
    text-decoration: none;
    /* preencimento: 15px */
    border: solid 2px #fff;
    border-radius: 5px;
}