
/* Nossos Jogos */
.secaoNossosJogos{
    width: 100%;
    background-image: url('../img/bg-nossos-jogos.jpg');
    background-repeat: no-repeat;
    padding-bottom: 8rem;
    padding-bottom: 18rem;
}
.secaoNossosJogosTitulo{
    text-align: center;
    text-transform: uppercase;
    padding: 5rem;
}
.secaoNossosJogosArtigos{
    display: flex;
    justify-content: center;
    width: 100%;
}
.secaoNossosJogosArtigos__Artigo{
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
}

.secaoNossosJogosArtigos__Artigo h2{
    padding: 1.5rem;
}

.secaoNossosJogosArtigos__Artigo p{
    padding: 1.5rem;
    text-align: center;

}

.secaoNossosJogosArtigos__Artigo a{
    text-decoration: none;
    color: #d5150b;
    font-weight: bold;
}