
/* Banner principal */
.principal {
    display: flex;
    flex-direction: column;
    
}

.conteudoPrincipal {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: -350px;
    right: -100px;
    width: 35rem;
}

.textoPrincipal {
    color: red;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.btnPrincipal {
    padding: 15px 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #C86C2D;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
