
/* Banner principal */
.principal {
    background-image: url('../img/banner-principal.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 40rem;
    
}

.conteudoPrincipal {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: 280px;
    right: -180px;
    width: 35rem;
}

.textoPrincipal {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.btnPrincipal {
    padding: 15px 40px;
    /* margin-top: 1rem; */
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #C86C2D;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
